.developer {
  font-size: 5rem;
  color: black;
  font-family: "Kablammo", cursive;
  margin-top: 0.3rem;
  /* text-shadow: #fc0 1px 0 10px; */
}

.developer:hover {
  animation: bounces 0.24s;
}

@keyframes bounces {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.9, 0.7);
  }
  75% {
    transform: scale(1, 1.4);
  }

  100% {
    transform: scale(1, 1);
  }
}

.navbar {
  animation: fromUp 2s ease-in-out;
}

@keyframes fromUp {
  0% {
    position: relative;
    top: -7vh;
  }
}

