.developer {
  font-size: 5rem;
  color: black;
  font-family: "Kablammo", cursive;
  margin-top: 0.3rem;
  /* text-shadow: #fc0 1px 0 10px; */
}

.developer:hover {
  animation: bounces 0.24s;
}

@keyframes bounces {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.9, 0.7);
  }
  75% {
    transform: scale(1, 1.4);
  }

  100% {
    transform: scale(1, 1);
  }
}

.background {
  /* background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */

  /* background-image: radial-gradient(
    circle 759px at -6.7% 50%,
    rgba(80, 131, 73, 1) 0%,
    rgba(140, 209, 131, 1) 26.2%,
    rgba(178, 231, 170, 1) 50.6%,
    rgba(144, 213, 135, 1) 74.1%,
    rgba(75, 118, 69, 1) 100.3%
  ); */
}

.navbar {
  animation: fromUp 3s ease-in-out;
}

@keyframes fromUp {
  0% {
    position: relative;
    top: -7vh;
  }
  50% {
    top: 4vh;
  }
}
